.MainBackground {
    color: #000000;
    background-color: #ffffff;
}

.TitleBar {
    color: #ffffff;
    background-color: #f79f73;
}

.NavButton {
    background-color: #f79f73;
}
.NavTitle {
    background: #e67452;
}
.NaviTitle {
    color: #ffffff;
    background-color: #e67452 !important;
}