table {
    font-family: 'Aggro-Light';
}
.table > tbody {
    text-align: center;
    line-height: 50px;
}
.weatherTitle {
    font-family: 'Aggro-Midium';
    text-align: center;
    font-size: 32px;
    padding: 20px;
    color: rgb(64, 70, 70);
}